.container {
    width: 90%;
    margin: auto;
}

img {
    width: 300px;
    height: :300px;
}


.card {
    display: flex;
    flex-direction: column;

}

.likes {
    display: flex;
    gap: 15px;
}


#like {
    color: #979696;

}